<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Akumuli</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="/css/creative.css" type="text/css">

    <link rel="icon" type="image/png" href="./styles/imgs/logo.png">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Akumuli</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#license">License</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./docs" target="_blank">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./blog" target="_blank">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" style="color:white">
              <strong>Open Source</strong><br/>
              <strong>Time Series Database</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">For Modern Hardware</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Akumuli Timeseries Database</h2>
            <hr class="my-4">
            <p class="mb-5">
              Akumuli is an open source Time Series Database available under 
              Apache 2.0 License. The key goals of the project are efficiency 
              and ability to work in stand-alone mode with little or no 
              maintenance.
              <br/><br/>
              The database can scale up by utilizing multiple cores or CPUs. 
              It's also can scale down and work on small and cheap VMs or in 
              a "sidecar" container.
            </p>
            <p>Checkout Akumuli on <a href="https://github.com/akumuli/Akumuli" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-database text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Storage</h3>
              <p class="text-muted mb-0">
                Column-oriented.
                SSD/NVMe optimized.
                Crash safety and recovery.
                State of the art compression, ~1GB/s encoding throughput.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Performance</h3>
              <p class="text-muted mb-0">
                Up to ~14 million writes per second on server.
                Up to ~1 million writes per second on cheap VM.
                Low latency reads.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-bar-chart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Features</h3>
              <p class="text-muted mb-0">
                Fast aggregation, downsampling, and filtering without 
                pre-computed rollups or materialized views.
                Hard limit on disk use.
                Can be used as an embedded library.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-share text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Integrations</h3>
              <p class="text-muted mb-0">
                  Grafana plugin.
                  Collectors via the OpenTSDB protocol.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Download</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Ubuntu PPA</h4>
            Package cloud 
            <a href=" https://packagecloud.io/Lazin/Akumuli">repository</a>
          </div>
          <div class="col-sm-4">
            <h4>Docker images</h4>
            Docker hub repository
            <a href="https://hub.docker.com/r/akumuli/akumuli/">repository</a>
          </div>
          <div class="col-sm-4">
            <h4>Windows installer</h4>
            Comming soon
          </div>
        </div>
      </div>
      <br/><br/>
    </section>

    <section id="license">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">License</h2>
            <hr class="my-4">
            <p class="mb-5">Akumuli is available under Apache 2.0</p>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.4.0/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts forom 'creative' bootstrap theme-->
    <script src="js/creative.js"></script>

  </body>

</html>