---
layout: blog
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}


<div class="blog-title">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">{{ page.title }}</h2>
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
      <span class="post-meta small">{{ minutes }} minute read</span>
      <hr class="my-4">
    </div>
  </div>
</div>

<section id="post-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 left-margin">
      </div>
      <div class="col-sm-8 blog-main">
      {{ content }}
      </div>
  </div>
</section>

<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'akumuli'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
